<form method="post" action="{{ path('app_paciente_delete', {'id': paciente.id}) }}" onsubmit="return confirm('¿Desea eliminar elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paciente.id) }}">
    <button class="btn btn-danger">{{ button_label|default('Eliminar') }}</button>
</form>
