{% extends 'base.html.twig' %}

{% block title %}Crear Zonas{% endblock %}

{% block body %}
    <h1>Crear Zonas</h1>

    {{ include('zonas/_form.html.twig') }}

    <a class="btn btn-secondary my-2" href="{{ path('app_zonas_index') }}">Volver</a>
{% endblock %}
