{% extends 'base.html.twig' %}

{% block title %}Crear Tipo{% endblock %}

{% block body %}
    <h1>Crear Tipo</h1>

    {{ include('tipo/_form.html.twig') }}

    <a class="btn btn-secondary my-2" href="{{ path('app_tipo_index') }}">Volver</a>
{% endblock %}
