<form method="post" action="{{ path('app_flor_delete', {'id': flor.id}) }}" onsubmit="return confirm('¿Desea eliminar elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flor.id) }}">
    <button class="btn btn-danger">{{ button_label|default('Eliminar') }}</button>
</form>
