<form method="post" action="{{ path('app_pintura_delete', {'id': pintura.id}) }}" onsubmit="return confirm('¿Desea eliminar elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pintura.id) }}">
    <button class="btn btn-danger">{{ button_label|default('Eliminar') }}</button>
</form>
