<form method="post" action="{{ path('app_doctor_delete', {'id': doctor.id}) }}" onsubmit="return confirm('¿Desea eliminar elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ doctor.id) }}">
    <button class="btn btn-danger">{{ button_label|default('Eliminar') }}</button>
</form>
